@import '~bootstrap/scss/bootstrap';

// @font-face {
//   font-family: 'FontAwesome';
//   src: url('public/fa-regular-400.ttf') format('truetype');
// }
body {
  font-family: helvetica;
}
nav {
  background-color: #007bff;
  padding: 0px;
}
h1 {
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  text-shadow: -1px 0 #007bff, 0 1px #007bff, 1px 0 #007bff, 0 -1px #007bff;
}
#message.topic{
  font-size: 18px;
  text-shadow: 0px 0px 20px #952;
}

.review {
  display: flex;
  justify-content: center;
}

section {
  border: solid blue 1px;
  width:inherit;
}
ul {
  list-style-type: none;
}

.red {
  color: #ff0000;
    }
.form-area {
  background-color: #FAFAFA;
  border: 1px solid #808080;
  margin: 10px 0px 60px;
  padding: 10px 40px 60px;
}

h3 {
  margin-bottom: 25px;
  text-align: center;
}
// CSS for stars
div.stars {
  width: 270px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 10px;
  font-size: 34px;
  color: #444;
  transition: all .2s;
}

input.star:checked ~ label.star:before {
  content: '★';
  color: #FD4;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotateZ(90deg) scale(1.5); }

label.star:before {
  content: '☆';
  //font-family: FontAwesome;
}
.star-review {
  font-size: 32px;
  color: #FD4;
}
.review-1:before {
  content:'★☆☆☆☆';
}
.review-2:before {
  content:'★★☆☆☆';
}
.review-3:before {
  content:'★★★☆☆';
}
.review-4:before {
  content:'★★★★☆';
}
.review-5:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
  content:'★★★★★';
}
