{{#each reviews as |review|}}

  <div>
    <section data-id="{{review.id}}">
    <h1> <small>Topic: {{review.topic}}</small></h1>
    <ul>
      <li>{{review.article}}</li>
      <li>Rating Star: {{review.star}}</li>
    </ul>
  </section>
  </div>


{{/each}}
<form id='close-reviews'>
<fieldset>
  <button type="button" class='close-but btn btn btn-primary'>Close Reviews</button>
</fieldset>
</form>
